<a href="https://colab.research.google.com/github/RoyalWeden/defhacks3/blob/main/DefHacks2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset: https://www.kaggle.com/davinwijaya/employee-turnover

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 66 bytes

In [2]:
!kaggle datasets download -d davinwijaya/employee-turnover

Downloading employee-turnover.zip to /content
  0% 0.00/17.3k [00:00<?, ?B/s]
100% 17.3k/17.3k [00:00<00:00, 14.6MB/s]

In [3]:
!unzip employee-turnover.zip

Archive:  employee-turnover.zip
  inflating: turnover.csv

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/turnover.csv', encoding = "ISO-8859-1")
df.head()

,stag,event,gender,age,industry,profession,traffic,coach,head_gender,greywage,way,extraversion,independ,selfcontrol,anxiety,novator
0,7.030801,1,m,35.0,Banks,HR,rabrecNErab,no,f,white,bus,6.2,4.1,5.7,7.1,8.3
1,22.965092,1,m,33.0,Banks,HR,empjs,no,m,white,bus,6.2,4.1,5.7,7.1,8.3
2,15.934292,1,f,35.0,PowerGeneration,HR,rabrecNErab,no,m,white,bus,6.2,6.2,2.6,4.8,8.3
3,15.934292,1,f,35.0,PowerGeneration,HR,rabrecNErab,no,m,white,bus,5.4,7.6,4.9,2.5,6.7
4,8.410678,1,m,32.0,Retail,Commercial,youjs,yes,f,white,bus,3.0,4.1,8.0,7.1,3.7

In [3]:
df.shape

(1129, 16)

In [4]:
df = df[df.event == 1]
df.shape

(571, 16)

In [8]:
df = df.drop(columns=['event'])
df.head()

        stag gender   age  ... selfcontrol anxiety novator
0   7.030801      m  35.0  ...         5.7     7.1     8.3
1  22.965092      m  33.0  ...         5.7     7.1     8.3
2  15.934292      f  35.0  ...         2.6     4.8     8.3
3  15.934292      f  35.0  ...         4.9     2.5     6.7
4   8.410678      m  32.0  ...         8.0     7.1     3.7

[5 rows x 15 columns]

In [5]:
df.isna().sum()

stag            0
event           0
gender          0
age             0
industry        0
profession      0
traffic         0
coach           0
head_gender     0
greywage        0
way             0
extraversion    0
independ        0
selfcontrol     0
anxiety         0
novator         0
dtype: int64

In [6]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [7]:
enc = OneHotEncoder()

In [8]:
enc.fit(df[['industry', 'profession', 'traffic', 'way']])

OneHotEncoder()

In [9]:
enc.categories_

[array([' HoReCa', 'Agriculture', 'Banks', 'Building', 'Consult', 'IT',
        'Mining', 'Pharma', 'PowerGeneration', 'RealEstate', 'Retail',
        'State', 'Telecom', 'etc', 'manufacture', 'transport'],
       dtype=object),
 array(['Accounting', 'BusinessDevelopment', 'Commercial', 'Consult',
        'Engineer', 'Finanñe', 'HR', 'IT', 'Law', 'Marketing', 'PR',
        'Sales', 'Teaching', 'etc', 'manage'], dtype=object),
 array(['KA', 'advert', 'empjs', 'friends', 'rabrecNErab', 'recNErab',
        'referal', 'youjs'], dtype=object),
 array(['bus', 'car', 'foot'], dtype=object)]

In [10]:
import numpy as np

In [11]:
df_enc = np.array(enc.transform(df[['industry', 'profession', 'traffic', 'way']]).toarray())
df_enc

array([[0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [12]:
np.concatenate(enc.categories_).ravel()

array([' HoReCa', 'Agriculture', 'Banks', 'Building', 'Consult', 'IT',
       'Mining', 'Pharma', 'PowerGeneration', 'RealEstate', 'Retail',
       'State', 'Telecom', 'etc', 'manufacture', 'transport',
       'Accounting', 'BusinessDevelopment', 'Commercial', 'Consult',
       'Engineer', 'Finanñe', 'HR', 'IT', 'Law', 'Marketing', 'PR',
       'Sales', 'Teaching', 'etc', 'manage', 'KA', 'advert', 'empjs',
       'friends', 'rabrecNErab', 'recNErab', 'referal', 'youjs', 'bus',
       'car', 'foot'], dtype=object)

In [13]:
df_enc = pd.DataFrame(df_enc, columns=np.concatenate(enc.categories_).ravel())
df_enc.head()

,HoReCa,Agriculture,Banks,Building,Consult,IT,Mining,Pharma,PowerGeneration,RealEstate,...,advert,empjs,friends,rabrecNErab,recNErab,referal,youjs,bus,car,foot
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [14]:
df_enc.shape

(571, 42)

In [15]:
df_enc

,HoReCa,Agriculture,Banks,Building,Consult,IT,Mining,Pharma,PowerGeneration,RealEstate,...,advert,empjs,friends,rabrecNErab,recNErab,referal,youjs,bus,car,foot
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
567,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
570,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [16]:
df_enc.isna().sum()

 HoReCa                0
Agriculture            0
Banks                  0
Building               0
Consult                0
IT                     0
Mining                 0
Pharma                 0
PowerGeneration        0
RealEstate             0
Retail                 0
State                  0
Telecom                0
etc                    0
manufacture            0
transport              0
Accounting             0
BusinessDevelopment    0
Commercial             0
Consult                0
Engineer               0
Finanñe                0
HR                     0
IT                     0
Law                    0
Marketing              0
PR                     0
Sales                  0
Teaching               0
etc                    0
manage                 0
KA                     0
advert                 0
empjs                  0
friends                0
rabrecNErab            0
recNErab               0
referal                0
youjs                  0
bus                    0
car                    0
foot                   0
dtype: int64

In [17]:
df = df.drop(columns=['industry', 'profession', 'traffic', 'way'])
df.head()

,stag,event,gender,age,coach,head_gender,greywage,extraversion,independ,selfcontrol,anxiety,novator
0,7.030801,1,m,35.0,no,f,white,6.2,4.1,5.7,7.1,8.3
1,22.965092,1,m,33.0,no,m,white,6.2,4.1,5.7,7.1,8.3
2,15.934292,1,f,35.0,no,m,white,6.2,6.2,2.6,4.8,8.3
3,15.934292,1,f,35.0,no,m,white,5.4,7.6,4.9,2.5,6.7
4,8.410678,1,m,32.0,yes,f,white,3.0,4.1,8.0,7.1,3.7

In [18]:
df.shape

(571, 12)

In [19]:
df = pd.concat([df.reset_index(drop=True), df_enc.reset_index(drop=True)], axis=1)
df.head()

,stag,event,gender,age,coach,head_gender,greywage,extraversion,independ,selfcontrol,...,advert,empjs,friends,rabrecNErab,recNErab,referal,youjs,bus,car,foot
0,7.030801,1,m,35.0,no,f,white,6.2,4.1,5.7,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,22.965092,1,m,33.0,no,m,white,6.2,4.1,5.7,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,15.934292,1,f,35.0,no,m,white,6.2,6.2,2.6,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,15.934292,1,f,35.0,no,m,white,5.4,7.6,4.9,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,8.410678,1,m,32.0,yes,f,white,3.0,4.1,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [20]:
df.shape

(571, 54)

In [21]:
scaler = StandardScaler()

In [22]:
scaler.fit(df[['age', 'extraversion', 'independ', 'selfcontrol', 'anxiety', 'novator']])

StandardScaler()

In [23]:
df_sca = scaler.transform(df[['age', 'extraversion', 'independ', 'selfcontrol', 'anxiety', 'novator']])
df_sca

array([[ 0.59669949,  0.3119534 , -0.87251367,  0.09349647,  0.89243128,
         1.26596497],
       [ 0.31721812,  0.3119534 , -0.87251367,  0.09349647,  0.89243128,
         1.26596497],
       [ 0.59669949,  0.3119534 ,  0.37791198, -1.50706543, -0.43942099,
         1.26596497],
       ...,
       [ 0.73644017, -0.98037109, -0.87251367,  1.64242734,  0.42917832,
        -0.36412494],
       [-0.24174461,  0.74272823,  0.37791198, -1.50706543,  0.42917832,
         0.84529661],
       [ 1.43514359, -0.98037109, -0.87251367,  0.45491367,  2.22428355,
         0.05654343]])

In [24]:
df_sca = pd.DataFrame(df_sca, columns=['age', 'extraversion', 'independ', 'selfcontrol', 'anxiety', 'novator'])

In [25]:
df_sca.head()

        age  extraversion  independ  selfcontrol   anxiety   novator
0  0.596699      0.311953 -0.872514     0.093496  0.892431  1.265965
1  0.317218      0.311953 -0.872514     0.093496  0.892431  1.265965
2  0.596699      0.311953  0.377912    -1.507065 -0.439421  1.265965
3  0.596699     -0.118821  1.211529    -0.319552 -1.771273  0.424628
4  0.177477     -1.411146 -0.872514     1.281010  0.892431 -1.152878

In [27]:
df_gender = df['gender'].apply(lambda x: 1 if x=='m' else -1)
df_coach = df['coach'].apply(lambda x: 1 if x=='yes' else (-1 if x=='no' else 0))
df_head_gender = df['head_gender'].apply(lambda x: 1 if x=='m' else -1)
df_greywage = df['greywage'].apply(lambda x: 1 if x=='white' else -1)

In [28]:
df_gender = pd.DataFrame(df_gender, columns=['gender'])
df_coach = pd.DataFrame(df_coach, columns=['coach'])
df_head_gender = pd.DataFrame(df_head_gender, columns=['head_gender'])
df_greywage = pd.DataFrame(df_greywage, columns=['greywage'])

In [29]:
df = df.drop(columns=['age', 'extraversion', 'independ', 'selfcontrol', 'anxiety', 'novator', 'gender', 'coach', 'head_gender', 'greywage'])

In [30]:
df = pd.concat([df_gender.reset_index(drop=True), df_sca.reset_index(drop=True), df_coach.reset_index(drop=True), df_head_gender.reset_index(drop=True), df_greywage.reset_index(drop=True), df.reset_index(drop=True)], axis=1)

In [31]:
df.head()

,gender,age,extraversion,independ,selfcontrol,anxiety,novator,coach,head_gender,greywage,...,advert,empjs,friends,rabrecNErab,recNErab,referal,youjs,bus,car,foot
0,1,0.596699,0.311953,-0.872514,0.093496,0.892431,1.265965,-1,-1,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,0.317218,0.311953,-0.872514,0.093496,0.892431,1.265965,-1,1,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-1,0.596699,0.311953,0.377912,-1.507065,-0.439421,1.265965,-1,1,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,-1,0.596699,-0.118821,1.211529,-0.319552,-1.771273,0.424628,-1,1,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1,0.177477,-1.411146,-0.872514,1.281010,0.892431,-1.152878,1,-1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [32]:
df.shape

(571, 54)

In [33]:
X = df.drop(columns=['stag'])
y = df[['stag']]

In [34]:
X.shape

(571, 53)

In [35]:
y.shape

(571, 1)

In [80]:
from sklearn.linear_model import LinearRegression

In [81]:
lr = LinearRegression()

In [82]:
lr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [83]:
lr.score(X, y)

0.272411517892694

In [36]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [54]:
nn = Sequential()
nn.add(Dense(X_train.shape[1], activation='relu', input_shape=(X_train.shape[1],)))
nn.add(Dense(5, activation='relu'))
nn.add(Dense(5, activation='relu'))
nn.add(Dense(1, activation='relu'))

In [55]:
nn.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 53)                2862
_________________________________________________________________
dense_13 (Dense)             (None, 5)                 270
_________________________________________________________________
dense_14 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 6
=================================================================
Total params: 3,168
Trainable params: 3,168
Non-trainable params: 0
_________________________________________________________________

In [56]:
nn.compile(optimizer='adam', loss='mean_squared_logarithmic_error', metrics=['mean_squared_logarithmic_error'])

In [57]:
nn.fit(X_train, y_train, epochs=100, validation_data=(X_test, y_test))

Epoch 1/100
14/14 [==============================] - 1s 18ms/step - loss: 10.7173 - mean_squared_logarithmic_error: 10.7173 - val_loss: 10.8696 - val_mean_squared_logarithmic_error: 10.8696
Epoch 2/100
14/14 [==============================] - 0s 3ms/step - loss: 9.7285 - mean_squared_logarithmic_error: 9.7285 - val_loss: 9.3094 - val_mean_squared_logarithmic_error: 9.3094
Epoch 3/100
14/14 [==============================] - 0s 3ms/step - loss: 7.8639 - mean_squared_logarithmic_error: 7.8639 - val_loss: 7.5087 - val_mean_squared_logarithmic_error: 7.5087
Epoch 4/100
14/14 [==============================] - 0s 3ms/step - loss: 6.3650 - mean_squared_logarithmic_error: 6.3650 - val_loss: 6.1858 - val_mean_squared_logarithmic_error: 6.1858
Epoch 5/100
14/14 [==============================] - 0s 4ms/step - loss: 5.2514 - mean_squared_logarithmic_error: 5.2514 - val_loss: 5.1515 - val_mean_squared_logarithmic_error: 5.1515
Epoch 6/100
14/14 [==============================] - 0s 3ms/step - loss: 4.3732 - mean_squared_logarithmic_error: 4.3732 - val_loss: 4.3233 - val_mean_squared_logarithmic_error: 4.3233
Epoch 7/100
14/14 [==============================] - 0s 3ms/step - loss: 3.6616 - mean_squared_logarithmic_error: 3.6616 - val_loss: 3.6599 - val_mean_squared_logarithmic_error: 3.6599
Epoch 8/100
14/14 [==============================] - 0s 3ms/step - loss: 3.1008 - mean_squared_logarithmic_error: 3.1008 - val_loss: 3.1111 - val_mean_squared_logarithmic_error: 3.1111
Epoch 9/100
14/14 [==============================] - 0s 3ms/step - loss: 2.6464 - mean_squared_logarithmic_error: 2.6464 - val_loss: 2.6789 - val_mean_squared_logarithmic_error: 2.6789
Epoch 10/100
14/14 [==============================] - 0s 3ms/step - loss: 2.2871 - mean_squared_logarithmic_error: 2.2871 - val_loss: 2.3343 - val_mean_squared_logarithmic_error: 2.3343
Epoch 11/100
14/14 [==============================] - 0s 3ms/step - loss: 1.9999 - mean_squared_logarithmic_error: 1.9999 - val_loss: 2.0569 - val_mean_squared_logarithmic_error: 2.0569
Epoch 12/100
14/14 [==============================] - 0s 3ms/step - loss: 1.7735 - mean_squared_logarithmic_error: 1.7735 - val_loss: 1.8330 - val_mean_squared_logarithmic_error: 1.8330
Epoch 13/100
14/14 [==============================] - 0s 3ms/step - loss: 1.5915 - mean_squared_logarithmic_error: 1.5915 - val_loss: 1.6529 - val_mean_squared_logarithmic_error: 1.6529
Epoch 14/100
14/14 [==============================] - 0s 4ms/step - loss: 1.4501 - mean_squared_logarithmic_error: 1.4501 - val_loss: 1.5092 - val_mean_squared_logarithmic_error: 1.5092
Epoch 15/100
14/14 [==============================] - 0s 5ms/step - loss: 1.3372 - mean_squared_logarithmic_error: 1.3372 - val_loss: 1.3936 - val_mean_squared_logarithmic_error: 1.3936
Epoch 16/100
14/14 [==============================] - 0s 4ms/step - loss: 1.2466 - mean_squared_logarithmic_error: 1.2466 - val_loss: 1.3014 - val_mean_squared_logarithmic_error: 1.3014
Epoch 17/100
14/14 [==============================] - 0s 4ms/step - loss: 1.1737 - mean_squared_logarithmic_error: 1.1737 - val_loss: 1.2254 - val_mean_squared_logarithmic_error: 1.2254
Epoch 18/100
14/14 [==============================] - 0s 3ms/step - loss: 1.1160 - mean_squared_logarithmic_error: 1.1160 - val_loss: 1.1648 - val_mean_squared_logarithmic_error: 1.1648
Epoch 19/100
14/14 [==============================] - 0s 3ms/step - loss: 1.0699 - mean_squared_logarithmic_error: 1.0699 - val_loss: 1.1182 - val_mean_squared_logarithmic_error: 1.1182
Epoch 20/100
14/14 [==============================] - 0s 3ms/step - loss: 1.0335 - mean_squared_logarithmic_error: 1.0335 - val_loss: 1.0770 - val_mean_squared_logarithmic_error: 1.0770
Epoch 21/100
14/14 [==============================] - 0s 4ms/step - loss: 1.0031 - mean_squared_logarithmic_error: 1.0031 - val_loss: 1.0441 - val_mean_squared_logarithmic_error: 1.0441
Epoch 22/100
14/14 [==============================] - 0s 4ms/step - loss: 0.9794 - mean_squared_logarithmic_error: 0.9794 - val_loss: 1.0189 - val_mean_squared_logarithmic_error: 1.0189
Epoch 23/100
14/14 [==============================] - 0s 4ms/step - loss: 0.9605 - mean_squared_logarithmic_error: 0.9605 - val_loss: 0.9954 - val_mean_squared_logarithmic_error: 0.9954
Epoch 24/100
14/14 [==============================] - 0s 5ms/step - loss: 0.9432 - mean_squared_logarithmic_error: 0.9432 - val_loss: 0.9788 - val_mean_squared_logarithmic_error: 0.9788
Epoch 25/100
14/14 [==============================] - 0s 5ms/step - loss: 0.9310 - mean_squared_logarithmic_error: 0.9310 - val_loss: 0.9634 - val_mean_squared_logarithmic_error: 0.9634
Epoch 26/100
14/14 [==============================] - 0s 5ms/step - loss: 0.9200 - mean_squared_logarithmic_error: 0.9200 - val_loss: 0.9514 - val_mean_squared_logarithmic_error: 0.9514
Epoch 27/100
14/14 [==============================] - 0s 5ms/step - loss: 0.9112 - mean_squared_logarithmic_error: 0.9112 - val_loss: 0.9409 - val_mean_squared_logarithmic_error: 0.9409
Epoch 28/100
14/14 [==============================] - 0s 6ms/step - loss: 0.9036 - mean_squared_logarithmic_error: 0.9036 - val_loss: 0.9323 - val_mean_squared_logarithmic_error: 0.9323
Epoch 29/100
14/14 [==============================] - 0s 7ms/step - loss: 0.8973 - mean_squared_logarithmic_error: 0.8973 - val_loss: 0.9245 - val_mean_squared_logarithmic_error: 0.9245
Epoch 30/100
14/14 [==============================] - 0s 9ms/step - loss: 0.8915 - mean_squared_logarithmic_error: 0.8915 - val_loss: 0.9194 - val_mean_squared_logarithmic_error: 0.9194
Epoch 31/100
14/14 [==============================] - 0s 12ms/step - loss: 0.8864 - mean_squared_logarithmic_error: 0.8864 - val_loss: 0.9142 - val_mean_squared_logarithmic_error: 0.9142
Epoch 32/100
14/14 [==============================] - 0s 10ms/step - loss: 0.8818 - mean_squared_logarithmic_error: 0.8818 - val_loss: 0.9087 - val_mean_squared_logarithmic_error: 0.9087
Epoch 33/100
14/14 [==============================] - 0s 12ms/step - loss: 0.8776 - mean_squared_logarithmic_error: 0.8776 - val_loss: 0.9046 - val_mean_squared_logarithmic_error: 0.9046
Epoch 34/100
14/14 [==============================] - 0s 11ms/step - loss: 0.8736 - mean_squared_logarithmic_error: 0.8736 - val_loss: 0.9009 - val_mean_squared_logarithmic_error: 0.9009
Epoch 35/100
14/14 [==============================] - 0s 10ms/step - loss: 0.8700 - mean_squared_logarithmic_error: 0.8700 - val_loss: 0.8986 - val_mean_squared_logarithmic_error: 0.8986
Epoch 36/100
14/14 [==============================] - 0s 10ms/step - loss: 0.8666 - mean_squared_logarithmic_error: 0.8666 - val_loss: 0.8958 - val_mean_squared_logarithmic_error: 0.8958
Epoch 37/100
14/14 [==============================] - 0s 12ms/step - loss: 0.8634 - mean_squared_logarithmic_error: 0.8634 - val_loss: 0.8930 - val_mean_squared_logarithmic_error: 0.8930
Epoch 38/100
14/14 [==============================] - 0s 9ms/step - loss: 0.8602 - mean_squared_logarithmic_error: 0.8602 - val_loss: 0.8898 - val_mean_squared_logarithmic_error: 0.8898
Epoch 39/100
14/14 [==============================] - 0s 8ms/step - loss: 0.8571 - mean_squared_logarithmic_error: 0.8571 - val_loss: 0.8878 - val_mean_squared_logarithmic_error: 0.8878
Epoch 40/100
14/14 [==============================] - 0s 9ms/step - loss: 0.8539 - mean_squared_logarithmic_error: 0.8539 - val_loss: 0.8860 - val_mean_squared_logarithmic_error: 0.8860
Epoch 41/100
14/14 [==============================] - 0s 9ms/step - loss: 0.8510 - mean_squared_logarithmic_error: 0.8510 - val_loss: 0.8847 - val_mean_squared_logarithmic_error: 0.8847
Epoch 42/100
14/14 [==============================] - 0s 10ms/step - loss: 0.8479 - mean_squared_logarithmic_error: 0.8479 - val_loss: 0.8835 - val_mean_squared_logarithmic_error: 0.8835
Epoch 43/100
14/14 [==============================] - 0s 11ms/step - loss: 0.8453 - mean_squared_logarithmic_error: 0.8453 - val_loss: 0.8820 - val_mean_squared_logarithmic_error: 0.8820
Epoch 44/100
14/14 [==============================] - 0s 10ms/step - loss: 0.8423 - mean_squared_logarithmic_error: 0.8423 - val_loss: 0.8796 - val_mean_squared_logarithmic_error: 0.8796
Epoch 45/100
14/14 [==============================] - 0s 10ms/step - loss: 0.8396 - mean_squared_logarithmic_error: 0.8396 - val_loss: 0.8783 - val_mean_squared_logarithmic_error: 0.8783
Epoch 46/100
14/14 [==============================] - 0s 10ms/step - loss: 0.8366 - mean_squared_logarithmic_error: 0.8366 - val_loss: 0.8775 - val_mean_squared_logarithmic_error: 0.8775
Epoch 47/100
14/14 [==============================] - 0s 8ms/step - loss: 0.8341 - mean_squared_logarithmic_error: 0.8341 - val_loss: 0.8753 - val_mean_squared_logarithmic_error: 0.8753
Epoch 48/100
14/14 [==============================] - 0s 11ms/step - loss: 0.8313 - mean_squared_logarithmic_error: 0.8313 - val_loss: 0.8751 - val_mean_squared_logarithmic_error: 0.8751
Epoch 49/100
14/14 [==============================] - 0s 21ms/step - loss: 0.8288 - mean_squared_logarithmic_error: 0.8288 - val_loss: 0.8725 - val_mean_squared_logarithmic_error: 0.8725
Epoch 50/100
14/14 [==============================] - 0s 12ms/step - loss: 0.8259 - mean_squared_logarithmic_error: 0.8259 - val_loss: 0.8716 - val_mean_squared_logarithmic_error: 0.8716
Epoch 51/100
14/14 [==============================] - 0s 12ms/step - loss: 0.8234 - mean_squared_logarithmic_error: 0.8234 - val_loss: 0.8696 - val_mean_squared_logarithmic_error: 0.8696
Epoch 52/100
14/14 [==============================] - 0s 9ms/step - loss: 0.8207 - mean_squared_logarithmic_error: 0.8207 - val_loss: 0.8699 - val_mean_squared_logarithmic_error: 0.8699
Epoch 53/100
14/14 [==============================] - 0s 9ms/step - loss: 0.8180 - mean_squared_logarithmic_error: 0.8180 - val_loss: 0.8691 - val_mean_squared_logarithmic_error: 0.8691
Epoch 54/100
14/14 [==============================] - 0s 9ms/step - loss: 0.8157 - mean_squared_logarithmic_error: 0.8157 - val_loss: 0.8681 - val_mean_squared_logarithmic_error: 0.8681
Epoch 55/100
14/14 [==============================] - 0s 8ms/step - loss: 0.8132 - mean_squared_logarithmic_error: 0.8132 - val_loss: 0.8679 - val_mean_squared_logarithmic_error: 0.8679
Epoch 56/100
14/14 [==============================] - 0s 10ms/step - loss: 0.8110 - mean_squared_logarithmic_error: 0.8110 - val_loss: 0.8668 - val_mean_squared_logarithmic_error: 0.8668
Epoch 57/100
14/14 [==============================] - 0s 10ms/step - loss: 0.8084 - mean_squared_logarithmic_error: 0.8084 - val_loss: 0.8665 - val_mean_squared_logarithmic_error: 0.8665
Epoch 58/100
14/14 [==============================] - 0s 10ms/step - loss: 0.8056 - mean_squared_logarithmic_error: 0.8056 - val_loss: 0.8655 - val_mean_squared_logarithmic_error: 0.8655
Epoch 59/100
14/14 [==============================] - 0s 11ms/step - loss: 0.8032 - mean_squared_logarithmic_error: 0.8032 - val_loss: 0.8642 - val_mean_squared_logarithmic_error: 0.8642
Epoch 60/100
14/14 [==============================] - 0s 10ms/step - loss: 0.8007 - mean_squared_logarithmic_error: 0.8007 - val_loss: 0.8635 - val_mean_squared_logarithmic_error: 0.8635
Epoch 61/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7985 - mean_squared_logarithmic_error: 0.7985 - val_loss: 0.8632 - val_mean_squared_logarithmic_error: 0.8632
Epoch 62/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7962 - mean_squared_logarithmic_error: 0.7962 - val_loss: 0.8626 - val_mean_squared_logarithmic_error: 0.8626
Epoch 63/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7940 - mean_squared_logarithmic_error: 0.7940 - val_loss: 0.8612 - val_mean_squared_logarithmic_error: 0.8612
Epoch 64/100
14/14 [==============================] - 0s 12ms/step - loss: 0.7918 - mean_squared_logarithmic_error: 0.7918 - val_loss: 0.8610 - val_mean_squared_logarithmic_error: 0.8610
Epoch 65/100
14/14 [==============================] - 0s 10ms/step - loss: 0.7893 - mean_squared_logarithmic_error: 0.7893 - val_loss: 0.8604 - val_mean_squared_logarithmic_error: 0.8604
Epoch 66/100
14/14 [==============================] - 0s 10ms/step - loss: 0.7873 - mean_squared_logarithmic_error: 0.7873 - val_loss: 0.8596 - val_mean_squared_logarithmic_error: 0.8596
Epoch 67/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7852 - mean_squared_logarithmic_error: 0.7852 - val_loss: 0.8587 - val_mean_squared_logarithmic_error: 0.8587
Epoch 68/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7829 - mean_squared_logarithmic_error: 0.7829 - val_loss: 0.8584 - val_mean_squared_logarithmic_error: 0.8584
Epoch 69/100
14/14 [==============================] - 0s 7ms/step - loss: 0.7811 - mean_squared_logarithmic_error: 0.7811 - val_loss: 0.8582 - val_mean_squared_logarithmic_error: 0.8582
Epoch 70/100
14/14 [==============================] - 0s 9ms/step - loss: 0.7786 - mean_squared_logarithmic_error: 0.7786 - val_loss: 0.8572 - val_mean_squared_logarithmic_error: 0.8572
Epoch 71/100
14/14 [==============================] - 0s 9ms/step - loss: 0.7771 - mean_squared_logarithmic_error: 0.7771 - val_loss: 0.8556 - val_mean_squared_logarithmic_error: 0.8556
Epoch 72/100
14/14 [==============================] - 0s 7ms/step - loss: 0.7744 - mean_squared_logarithmic_error: 0.7744 - val_loss: 0.8564 - val_mean_squared_logarithmic_error: 0.8564
Epoch 73/100
14/14 [==============================] - 0s 10ms/step - loss: 0.7725 - mean_squared_logarithmic_error: 0.7725 - val_loss: 0.8563 - val_mean_squared_logarithmic_error: 0.8563
Epoch 74/100
14/14 [==============================] - 0s 9ms/step - loss: 0.7702 - mean_squared_logarithmic_error: 0.7702 - val_loss: 0.8558 - val_mean_squared_logarithmic_error: 0.8558
Epoch 75/100
14/14 [==============================] - 0s 9ms/step - loss: 0.7682 - mean_squared_logarithmic_error: 0.7682 - val_loss: 0.8559 - val_mean_squared_logarithmic_error: 0.8559
Epoch 76/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7662 - mean_squared_logarithmic_error: 0.7662 - val_loss: 0.8556 - val_mean_squared_logarithmic_error: 0.8556
Epoch 77/100
14/14 [==============================] - 0s 7ms/step - loss: 0.7641 - mean_squared_logarithmic_error: 0.7641 - val_loss: 0.8550 - val_mean_squared_logarithmic_error: 0.8550
Epoch 78/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7621 - mean_squared_logarithmic_error: 0.7621 - val_loss: 0.8552 - val_mean_squared_logarithmic_error: 0.8552
Epoch 79/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7596 - mean_squared_logarithmic_error: 0.7596 - val_loss: 0.8554 - val_mean_squared_logarithmic_error: 0.8554
Epoch 80/100
14/14 [==============================] - 0s 7ms/step - loss: 0.7576 - mean_squared_logarithmic_error: 0.7576 - val_loss: 0.8549 - val_mean_squared_logarithmic_error: 0.8549
Epoch 81/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7559 - mean_squared_logarithmic_error: 0.7559 - val_loss: 0.8546 - val_mean_squared_logarithmic_error: 0.8546
Epoch 82/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7539 - mean_squared_logarithmic_error: 0.7539 - val_loss: 0.8536 - val_mean_squared_logarithmic_error: 0.8536
Epoch 83/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7520 - mean_squared_logarithmic_error: 0.7520 - val_loss: 0.8536 - val_mean_squared_logarithmic_error: 0.8536
Epoch 84/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7504 - mean_squared_logarithmic_error: 0.7504 - val_loss: 0.8533 - val_mean_squared_logarithmic_error: 0.8533
Epoch 85/100
14/14 [==============================] - 0s 7ms/step - loss: 0.7475 - mean_squared_logarithmic_error: 0.7475 - val_loss: 0.8540 - val_mean_squared_logarithmic_error: 0.8540
Epoch 86/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7457 - mean_squared_logarithmic_error: 0.7457 - val_loss: 0.8539 - val_mean_squared_logarithmic_error: 0.8539
Epoch 87/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7445 - mean_squared_logarithmic_error: 0.7445 - val_loss: 0.8549 - val_mean_squared_logarithmic_error: 0.8549
Epoch 88/100
14/14 [==============================] - 0s 7ms/step - loss: 0.7420 - mean_squared_logarithmic_error: 0.7420 - val_loss: 0.8541 - val_mean_squared_logarithmic_error: 0.8541
Epoch 89/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7404 - mean_squared_logarithmic_error: 0.7404 - val_loss: 0.8534 - val_mean_squared_logarithmic_error: 0.8534
Epoch 90/100
14/14 [==============================] - 0s 9ms/step - loss: 0.7382 - mean_squared_logarithmic_error: 0.7382 - val_loss: 0.8541 - val_mean_squared_logarithmic_error: 0.8541
Epoch 91/100
14/14 [==============================] - 0s 9ms/step - loss: 0.7366 - mean_squared_logarithmic_error: 0.7366 - val_loss: 0.8530 - val_mean_squared_logarithmic_error: 0.8530
Epoch 92/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7343 - mean_squared_logarithmic_error: 0.7343 - val_loss: 0.8536 - val_mean_squared_logarithmic_error: 0.8536
Epoch 93/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7328 - mean_squared_logarithmic_error: 0.7328 - val_loss: 0.8541 - val_mean_squared_logarithmic_error: 0.8541
Epoch 94/100
14/14 [==============================] - 0s 10ms/step - loss: 0.7308 - mean_squared_logarithmic_error: 0.7308 - val_loss: 0.8539 - val_mean_squared_logarithmic_error: 0.8539
Epoch 95/100
14/14 [==============================] - 0s 10ms/step - loss: 0.7288 - mean_squared_logarithmic_error: 0.7288 - val_loss: 0.8534 - val_mean_squared_logarithmic_error: 0.8534
Epoch 96/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7275 - mean_squared_logarithmic_error: 0.7275 - val_loss: 0.8548 - val_mean_squared_logarithmic_error: 0.8548
Epoch 97/100
14/14 [==============================] - 0s 9ms/step - loss: 0.7253 - mean_squared_logarithmic_error: 0.7253 - val_loss: 0.8545 - val_mean_squared_logarithmic_error: 0.8545
Epoch 98/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7235 - mean_squared_logarithmic_error: 0.7235 - val_loss: 0.8536 - val_mean_squared_logarithmic_error: 0.8536
Epoch 99/100
14/14 [==============================] - 0s 8ms/step - loss: 0.7212 - mean_squared_logarithmic_error: 0.7212 - val_loss: 0.8537 - val_mean_squared_logarithmic_error: 0.8537
Epoch 100/100
14/14 [==============================] - 0s 9ms/step - loss: 0.7192 - mean_squared_logarithmic_error: 0.7192 - val_loss: 0.8533 - val_mean_squared_logarithmic_error: 0.8533