<a href="https://colab.research.google.com/github/RoyalWeden/defhacks3/blob/main/DefHacks2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset: https://www.kaggle.com/davinwijaya/employee-turnover

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 66 bytes

In [2]:
!kaggle datasets download -d davinwijaya/employee-turnover

Downloading employee-turnover.zip to /content
  0% 0.00/17.3k [00:00<?, ?B/s]
100% 17.3k/17.3k [00:00<00:00, 14.6MB/s]

In [3]:
!unzip employee-turnover.zip

Archive:  employee-turnover.zip
  inflating: turnover.csv

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('turnover.csv', encoding = "ISO-8859-1")
df.head()

        stag  event gender   age  ... independ selfcontrol anxiety novator
0   7.030801      1      m  35.0  ...      4.1         5.7     7.1     8.3
1  22.965092      1      m  33.0  ...      4.1         5.7     7.1     8.3
2  15.934292      1      f  35.0  ...      6.2         2.6     4.8     8.3
3  15.934292      1      f  35.0  ...      7.6         4.9     2.5     6.7
4   8.410678      1      m  32.0  ...      4.1         8.0     7.1     3.7

[5 rows x 16 columns]

In [6]:
df.shape

(1129, 16)

In [7]:
df = df[df.event == 1]
df.shape

(571, 16)

In [8]:
df = df.drop(columns=['event'])
df.head()

        stag gender   age  ... selfcontrol anxiety novator
0   7.030801      m  35.0  ...         5.7     7.1     8.3
1  22.965092      m  33.0  ...         5.7     7.1     8.3
2  15.934292      f  35.0  ...         2.6     4.8     8.3
3  15.934292      f  35.0  ...         4.9     2.5     6.7
4   8.410678      m  32.0  ...         8.0     7.1     3.7

[5 rows x 15 columns]

In [9]:
df.isna().sum()

stag            0
gender          0
age             0
industry        0
profession      0
traffic         0
coach           0
head_gender     0
greywage        0
way             0
extraversion    0
independ        0
selfcontrol     0
anxiety         0
novator         0
dtype: int64

In [10]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [11]:
enc = OneHotEncoder()

In [12]:
enc.fit(df[['industry', 'profession', 'traffic', 'way']])

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

In [13]:
enc.categories_

[array([' HoReCa', 'Agriculture', 'Banks', 'Building', 'Consult', 'IT',
        'Mining', 'Pharma', 'PowerGeneration', 'RealEstate', 'Retail',
        'State', 'Telecom', 'etc', 'manufacture', 'transport'],
       dtype=object),
 array(['Accounting', 'BusinessDevelopment', 'Commercial', 'Consult',
        'Engineer', 'Finan単e', 'HR', 'IT', 'Law', 'Marketing', 'PR',
        'Sales', 'Teaching', 'etc', 'manage'], dtype=object),
 array(['KA', 'advert', 'empjs', 'friends', 'rabrecNErab', 'recNErab',
        'referal', 'youjs'], dtype=object),
 array(['bus', 'car', 'foot'], dtype=object)]

In [14]:
import numpy as np

In [15]:
df_enc = np.array(enc.transform(df[['industry', 'profession', 'traffic', 'way']]).toarray())
df_enc

array([[0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [16]:
np.concatenate(enc.categories_).ravel()

array([' HoReCa', 'Agriculture', 'Banks', 'Building', 'Consult', 'IT',
       'Mining', 'Pharma', 'PowerGeneration', 'RealEstate', 'Retail',
       'State', 'Telecom', 'etc', 'manufacture', 'transport',
       'Accounting', 'BusinessDevelopment', 'Commercial', 'Consult',
       'Engineer', 'Finan単e', 'HR', 'IT', 'Law', 'Marketing', 'PR',
       'Sales', 'Teaching', 'etc', 'manage', 'KA', 'advert', 'empjs',
       'friends', 'rabrecNErab', 'recNErab', 'referal', 'youjs', 'bus',
       'car', 'foot'], dtype=object)

In [17]:
df_enc = pd.DataFrame(df_enc, columns=np.concatenate(enc.categories_).ravel())
df_enc.head()

    HoReCa  Agriculture  Banks  Building  ...  youjs  bus  car  foot
0      0.0          0.0    1.0       0.0  ...    0.0  1.0  0.0   0.0
1      0.0          0.0    1.0       0.0  ...    0.0  1.0  0.0   0.0
2      0.0          0.0    0.0       0.0  ...    0.0  1.0  0.0   0.0
3      0.0          0.0    0.0       0.0  ...    0.0  1.0  0.0   0.0
4      0.0          0.0    0.0       0.0  ...    1.0  1.0  0.0   0.0

[5 rows x 42 columns]

In [18]:
df_enc.shape

(571, 42)

In [33]:
df_enc

      HoReCa  Agriculture  Banks  Building  ...  youjs  bus  car  foot
0        0.0          0.0    1.0       0.0  ...    0.0  1.0  0.0   0.0
1        0.0          0.0    1.0       0.0  ...    0.0  1.0  0.0   0.0
2        0.0          0.0    0.0       0.0  ...    0.0  1.0  0.0   0.0
3        0.0          0.0    0.0       0.0  ...    0.0  1.0  0.0   0.0
4        0.0          0.0    0.0       0.0  ...    1.0  1.0  0.0   0.0
..       ...          ...    ...       ...  ...    ...  ...  ...   ...
566      0.0          0.0    0.0       0.0  ...    1.0  0.0  1.0   0.0
567      0.0          0.0    0.0       0.0  ...    0.0  1.0  0.0   0.0
568      0.0          0.0    0.0       0.0  ...    0.0  1.0  0.0   0.0
569      0.0          0.0    0.0       0.0  ...    0.0  1.0  0.0   0.0
570      0.0          0.0    0.0       0.0  ...    1.0  1.0  0.0   0.0

[571 rows x 42 columns]

In [51]:
df_enc.isna().sum()

 HoReCa                0
Agriculture            0
Banks                  0
Building               0
Consult                0
IT                     0
Mining                 0
Pharma                 0
PowerGeneration        0
RealEstate             0
Retail                 0
State                  0
Telecom                0
etc                    0
manufacture            0
transport              0
Accounting             0
BusinessDevelopment    0
Commercial             0
Consult                0
Engineer               0
Finan単e                0
HR                     0
IT                     0
Law                    0
Marketing              0
PR                     0
Sales                  0
Teaching               0
etc                    0
manage                 0
KA                     0
advert                 0
empjs                  0
friends                0
rabrecNErab            0
recNErab               0
referal                0
youjs                  0
bus                    0
car                    0
foot                   0
dtype: int64

In [19]:
df = df.drop(columns=['industry', 'profession', 'traffic', 'way'])
df.head()

        stag gender   age coach  ... independ selfcontrol  anxiety  novator
0   7.030801      m  35.0    no  ...      4.1         5.7      7.1      8.3
1  22.965092      m  33.0    no  ...      4.1         5.7      7.1      8.3
2  15.934292      f  35.0    no  ...      6.2         2.6      4.8      8.3
3  15.934292      f  35.0    no  ...      7.6         4.9      2.5      6.7
4   8.410678      m  32.0   yes  ...      4.1         8.0      7.1      3.7

[5 rows x 11 columns]

In [54]:
df.shape

(571, 11)

In [64]:
df = pd.concat([df.reset_index(drop=True), df_enc.reset_index(drop=True)], axis=1)
df.head()

        stag gender   age coach head_gender  ... referal  youjs  bus  car  foot
0   7.030801      m  35.0    no           f  ...     0.0    0.0  1.0  0.0   0.0
1  22.965092      m  33.0    no           m  ...     0.0    0.0  1.0  0.0   0.0
2  15.934292      f  35.0    no           m  ...     0.0    0.0  1.0  0.0   0.0
3  15.934292      f  35.0    no           m  ...     0.0    0.0  1.0  0.0   0.0
4   8.410678      m  32.0   yes           f  ...     0.0    1.0  1.0  0.0   0.0

[5 rows x 53 columns]

In [65]:
df.shape

(571, 53)

In [66]:
scaler = StandardScaler()

In [67]:
scaler.fit(df[['age', 'extraversion', 'independ', 'selfcontrol', 'anxiety', 'novator']])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [68]:
df_sca = scaler.transform(df[['age', 'extraversion', 'independ', 'selfcontrol', 'anxiety', 'novator']])
df_sca

array([[ 0.59669949,  0.3119534 , -0.87251367,  0.09349647,  0.89243128,
         1.26596497],
       [ 0.31721812,  0.3119534 , -0.87251367,  0.09349647,  0.89243128,
         1.26596497],
       [ 0.59669949,  0.3119534 ,  0.37791198, -1.50706543, -0.43942099,
         1.26596497],
       ...,
       [ 0.73644017, -0.98037109, -0.87251367,  1.64242734,  0.42917832,
        -0.36412494],
       [-0.24174461,  0.74272823,  0.37791198, -1.50706543,  0.42917832,
         0.84529661],
       [ 1.43514359, -0.98037109, -0.87251367,  0.45491367,  2.22428355,
         0.05654343]])

In [69]:
df_sca = pd.DataFrame(df_sca, columns=['age', 'extraversion', 'independ', 'selfcontrol', 'anxiety', 'novator'])

In [70]:
df_sca.head()

        age  extraversion  independ  selfcontrol   anxiety   novator
0  0.596699      0.311953 -0.872514     0.093496  0.892431  1.265965
1  0.317218      0.311953 -0.872514     0.093496  0.892431  1.265965
2  0.596699      0.311953  0.377912    -1.507065 -0.439421  1.265965
3  0.596699     -0.118821  1.211529    -0.319552 -1.771273  0.424628
4  0.177477     -1.411146 -0.872514     1.281010  0.892431 -1.152878

In [71]:
df_gender = df['gender'].apply(lambda x: 1 if x=='m' else -1)
df_coach = df['coach'].apply(lambda x: 1 if x=='yes' else -1)
df_head_gender = df['head_gender'].apply(lambda x: 1 if x=='m' else -1)
df_greywage = df['greywage'].apply(lambda x: 1 if x=='white' else -1)

In [72]:
df_gender = pd.DataFrame(df_gender, columns=['gender'])
df_coach = pd.DataFrame(df_coach, columns=['coach'])
df_head_gender = pd.DataFrame(df_head_gender, columns=['head_gender'])
df_greywage = pd.DataFrame(df_greywage, columns=['greywage'])

In [73]:
df = df.drop(columns=['age', 'extraversion', 'independ', 'selfcontrol', 'anxiety', 'novator', 'gender', 'coach', 'head_gender', 'greywage'])

In [74]:
df = pd.concat([df_gender.reset_index(drop=True), df_sca.reset_index(drop=True), df_coach.reset_index(drop=True), df_head_gender.reset_index(drop=True), df_greywage.reset_index(drop=True), df.reset_index(drop=True)], axis=1)

In [75]:
df.head()

   gender       age  extraversion  independ  ...  youjs  bus  car  foot
0       1  0.596699      0.311953 -0.872514  ...    0.0  1.0  0.0   0.0
1       1  0.317218      0.311953 -0.872514  ...    0.0  1.0  0.0   0.0
2      -1  0.596699      0.311953  0.377912  ...    0.0  1.0  0.0   0.0
3      -1  0.596699     -0.118821  1.211529  ...    0.0  1.0  0.0   0.0
4       1  0.177477     -1.411146 -0.872514  ...    1.0  1.0  0.0   0.0

[5 rows x 53 columns]

In [76]:
df.shape

(571, 53)

In [77]:
X = df.drop(columns=['stag'])
y = df[['stag']]

In [78]:
X.shape

(571, 52)

In [79]:
y.shape

(571, 1)

In [80]:
from sklearn.linear_model import LinearRegression

In [81]:
lr = LinearRegression()

In [82]:
lr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [83]:
lr.score(X, y)

0.272411517892694

In [84]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [180]:
nn = Sequential()
nn.add(Dense(X_train.shape[1], activation='relu', input_shape=(X_train.shape[1],)))
nn.add(Dense(5, activation='relu'))
nn.add(Dense(4, activation='relu'))
nn.add(Dense(1, activation='relu'))

In [181]:
nn.summary()

Model: "sequential_21"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_87 (Dense)             (None, 52)                2756
_________________________________________________________________
dense_88 (Dense)             (None, 5)                 265
_________________________________________________________________
dense_89 (Dense)             (None, 4)                 24
_________________________________________________________________
dense_90 (Dense)             (None, 1)                 5
=================================================================
Total params: 3,050
Trainable params: 3,050
Non-trainable params: 0
_________________________________________________________________

In [182]:
nn.compile(optimizer='adam', loss='mean_squared_logarithmic_error', metrics=['mean_squared_logarithmic_error'])

In [183]:
nn.fit(X_train, y_train, epochs=100, validation_data=(X_test, y_test))

Epoch 1/100
14/14 [==============================] - 1s 22ms/step - loss: 9.6424 - mean_squared_logarithmic_error: 9.6424 - val_loss: 9.0482 - val_mean_squared_logarithmic_error: 9.0482
Epoch 2/100
14/14 [==============================] - 0s 3ms/step - loss: 8.0652 - mean_squared_logarithmic_error: 8.0652 - val_loss: 7.3450 - val_mean_squared_logarithmic_error: 7.3450
Epoch 3/100
14/14 [==============================] - 0s 5ms/step - loss: 6.4210 - mean_squared_logarithmic_error: 6.4210 - val_loss: 5.8498 - val_mean_squared_logarithmic_error: 5.8498
Epoch 4/100
14/14 [==============================] - 0s 4ms/step - loss: 5.0947 - mean_squared_logarithmic_error: 5.0947 - val_loss: 4.7328 - val_mean_squared_logarithmic_error: 4.7328
Epoch 5/100
14/14 [==============================] - 0s 5ms/step - loss: 4.1454 - mean_squared_logarithmic_error: 4.1454 - val_loss: 3.9106 - val_mean_squared_logarithmic_error: 3.9106
Epoch 6/100
14/14 [==============================] - 0s 5ms/step - loss: 3.4359 - mean_squared_logarithmic_error: 3.4359 - val_loss: 3.2875 - val_mean_squared_logarithmic_error: 3.2875
Epoch 7/100
14/14 [==============================] - 0s 4ms/step - loss: 2.9045 - mean_squared_logarithmic_error: 2.9045 - val_loss: 2.7973 - val_mean_squared_logarithmic_error: 2.7973
Epoch 8/100
14/14 [==============================] - 0s 5ms/step - loss: 2.4892 - mean_squared_logarithmic_error: 2.4892 - val_loss: 2.4091 - val_mean_squared_logarithmic_error: 2.4091
Epoch 9/100
14/14 [==============================] - 0s 4ms/step - loss: 2.1608 - mean_squared_logarithmic_error: 2.1608 - val_loss: 2.1098 - val_mean_squared_logarithmic_error: 2.1098
Epoch 10/100
14/14 [==============================] - 0s 5ms/step - loss: 1.9063 - mean_squared_logarithmic_error: 1.9063 - val_loss: 1.8633 - val_mean_squared_logarithmic_error: 1.8633
Epoch 11/100
14/14 [==============================] - 0s 4ms/step - loss: 1.7000 - mean_squared_logarithmic_error: 1.7000 - val_loss: 1.6693 - val_mean_squared_logarithmic_error: 1.6693
Epoch 12/100
14/14 [==============================] - 0s 4ms/step - loss: 1.5369 - mean_squared_logarithmic_error: 1.5369 - val_loss: 1.5090 - val_mean_squared_logarithmic_error: 1.5090
Epoch 13/100
14/14 [==============================] - 0s 5ms/step - loss: 1.4048 - mean_squared_logarithmic_error: 1.4048 - val_loss: 1.3756 - val_mean_squared_logarithmic_error: 1.3756
Epoch 14/100
14/14 [==============================] - 0s 4ms/step - loss: 1.2956 - mean_squared_logarithmic_error: 1.2956 - val_loss: 1.2704 - val_mean_squared_logarithmic_error: 1.2704
Epoch 15/100
14/14 [==============================] - 0s 5ms/step - loss: 1.2098 - mean_squared_logarithmic_error: 1.2098 - val_loss: 1.1870 - val_mean_squared_logarithmic_error: 1.1870
Epoch 16/100
14/14 [==============================] - 0s 4ms/step - loss: 1.1458 - mean_squared_logarithmic_error: 1.1458 - val_loss: 1.1132 - val_mean_squared_logarithmic_error: 1.1132
Epoch 17/100
14/14 [==============================] - 0s 4ms/step - loss: 1.0881 - mean_squared_logarithmic_error: 1.0881 - val_loss: 1.0577 - val_mean_squared_logarithmic_error: 1.0577
Epoch 18/100
14/14 [==============================] - 0s 4ms/step - loss: 1.0460 - mean_squared_logarithmic_error: 1.0460 - val_loss: 1.0151 - val_mean_squared_logarithmic_error: 1.0151
Epoch 19/100
14/14 [==============================] - 0s 5ms/step - loss: 1.0128 - mean_squared_logarithmic_error: 1.0128 - val_loss: 0.9815 - val_mean_squared_logarithmic_error: 0.9815
Epoch 20/100
14/14 [==============================] - 0s 4ms/step - loss: 0.9867 - mean_squared_logarithmic_error: 0.9867 - val_loss: 0.9568 - val_mean_squared_logarithmic_error: 0.9568
Epoch 21/100
14/14 [==============================] - 0s 5ms/step - loss: 0.9668 - mean_squared_logarithmic_error: 0.9668 - val_loss: 0.9372 - val_mean_squared_logarithmic_error: 0.9372
Epoch 22/100
14/14 [==============================] - 0s 5ms/step - loss: 0.9507 - mean_squared_logarithmic_error: 0.9507 - val_loss: 0.9182 - val_mean_squared_logarithmic_error: 0.9182
Epoch 23/100
14/14 [==============================] - 0s 5ms/step - loss: 0.9372 - mean_squared_logarithmic_error: 0.9372 - val_loss: 0.9029 - val_mean_squared_logarithmic_error: 0.9029
Epoch 24/100
14/14 [==============================] - 0s 4ms/step - loss: 0.9256 - mean_squared_logarithmic_error: 0.9256 - val_loss: 0.8911 - val_mean_squared_logarithmic_error: 0.8911
Epoch 25/100
14/14 [==============================] - 0s 5ms/step - loss: 0.9167 - mean_squared_logarithmic_error: 0.9167 - val_loss: 0.8813 - val_mean_squared_logarithmic_error: 0.8813
Epoch 26/100
14/14 [==============================] - 0s 5ms/step - loss: 0.9086 - mean_squared_logarithmic_error: 0.9086 - val_loss: 0.8736 - val_mean_squared_logarithmic_error: 0.8736
Epoch 27/100
14/14 [==============================] - 0s 4ms/step - loss: 0.9015 - mean_squared_logarithmic_error: 0.9015 - val_loss: 0.8680 - val_mean_squared_logarithmic_error: 0.8680
Epoch 28/100
14/14 [==============================] - 0s 5ms/step - loss: 0.8962 - mean_squared_logarithmic_error: 0.8962 - val_loss: 0.8624 - val_mean_squared_logarithmic_error: 0.8624
Epoch 29/100
14/14 [==============================] - 0s 3ms/step - loss: 0.8907 - mean_squared_logarithmic_error: 0.8907 - val_loss: 0.8563 - val_mean_squared_logarithmic_error: 0.8563
Epoch 30/100
14/14 [==============================] - 0s 4ms/step - loss: 0.8853 - mean_squared_logarithmic_error: 0.8853 - val_loss: 0.8518 - val_mean_squared_logarithmic_error: 0.8518
Epoch 31/100
14/14 [==============================] - 0s 3ms/step - loss: 0.8804 - mean_squared_logarithmic_error: 0.8804 - val_loss: 0.8479 - val_mean_squared_logarithmic_error: 0.8479
Epoch 32/100
14/14 [==============================] - 0s 5ms/step - loss: 0.8763 - mean_squared_logarithmic_error: 0.8763 - val_loss: 0.8447 - val_mean_squared_logarithmic_error: 0.8447
Epoch 33/100
14/14 [==============================] - 0s 3ms/step - loss: 0.8716 - mean_squared_logarithmic_error: 0.8716 - val_loss: 0.8429 - val_mean_squared_logarithmic_error: 0.8429
Epoch 34/100
14/14 [==============================] - 0s 5ms/step - loss: 0.8676 - mean_squared_logarithmic_error: 0.8676 - val_loss: 0.8402 - val_mean_squared_logarithmic_error: 0.8402
Epoch 35/100
14/14 [==============================] - 0s 3ms/step - loss: 0.8635 - mean_squared_logarithmic_error: 0.8635 - val_loss: 0.8376 - val_mean_squared_logarithmic_error: 0.8376
Epoch 36/100
14/14 [==============================] - 0s 4ms/step - loss: 0.8592 - mean_squared_logarithmic_error: 0.8592 - val_loss: 0.8354 - val_mean_squared_logarithmic_error: 0.8354
Epoch 37/100
14/14 [==============================] - 0s 5ms/step - loss: 0.8555 - mean_squared_logarithmic_error: 0.8555 - val_loss: 0.8334 - val_mean_squared_logarithmic_error: 0.8334
Epoch 38/100
14/14 [==============================] - 0s 4ms/step - loss: 0.8517 - mean_squared_logarithmic_error: 0.8517 - val_loss: 0.8303 - val_mean_squared_logarithmic_error: 0.8303
Epoch 39/100
14/14 [==============================] - 0s 3ms/step - loss: 0.8478 - mean_squared_logarithmic_error: 0.8478 - val_loss: 0.8287 - val_mean_squared_logarithmic_error: 0.8287
Epoch 40/100
14/14 [==============================] - 0s 4ms/step - loss: 0.8443 - mean_squared_logarithmic_error: 0.8443 - val_loss: 0.8271 - val_mean_squared_logarithmic_error: 0.8271
Epoch 41/100
14/14 [==============================] - 0s 4ms/step - loss: 0.8406 - mean_squared_logarithmic_error: 0.8406 - val_loss: 0.8250 - val_mean_squared_logarithmic_error: 0.8250
Epoch 42/100
14/14 [==============================] - 0s 5ms/step - loss: 0.8372 - mean_squared_logarithmic_error: 0.8372 - val_loss: 0.8228 - val_mean_squared_logarithmic_error: 0.8228
Epoch 43/100
14/14 [==============================] - 0s 3ms/step - loss: 0.8341 - mean_squared_logarithmic_error: 0.8341 - val_loss: 0.8206 - val_mean_squared_logarithmic_error: 0.8206
Epoch 44/100
14/14 [==============================] - 0s 4ms/step - loss: 0.8309 - mean_squared_logarithmic_error: 0.8309 - val_loss: 0.8195 - val_mean_squared_logarithmic_error: 0.8195
Epoch 45/100
14/14 [==============================] - 0s 5ms/step - loss: 0.8274 - mean_squared_logarithmic_error: 0.8274 - val_loss: 0.8181 - val_mean_squared_logarithmic_error: 0.8181
Epoch 46/100
14/14 [==============================] - 0s 4ms/step - loss: 0.8248 - mean_squared_logarithmic_error: 0.8248 - val_loss: 0.8184 - val_mean_squared_logarithmic_error: 0.8184
Epoch 47/100
14/14 [==============================] - 0s 3ms/step - loss: 0.8214 - mean_squared_logarithmic_error: 0.8214 - val_loss: 0.8172 - val_mean_squared_logarithmic_error: 0.8172
Epoch 48/100
14/14 [==============================] - 0s 4ms/step - loss: 0.8187 - mean_squared_logarithmic_error: 0.8187 - val_loss: 0.8154 - val_mean_squared_logarithmic_error: 0.8154
Epoch 49/100
14/14 [==============================] - 0s 4ms/step - loss: 0.8161 - mean_squared_logarithmic_error: 0.8161 - val_loss: 0.8146 - val_mean_squared_logarithmic_error: 0.8146
Epoch 50/100
14/14 [==============================] - 0s 5ms/step - loss: 0.8129 - mean_squared_logarithmic_error: 0.8129 - val_loss: 0.8125 - val_mean_squared_logarithmic_error: 0.8125
Epoch 51/100
14/14 [==============================] - 0s 4ms/step - loss: 0.8103 - mean_squared_logarithmic_error: 0.8103 - val_loss: 0.8122 - val_mean_squared_logarithmic_error: 0.8122
Epoch 52/100
14/14 [==============================] - 0s 4ms/step - loss: 0.8072 - mean_squared_logarithmic_error: 0.8072 - val_loss: 0.8105 - val_mean_squared_logarithmic_error: 0.8105
Epoch 53/100
14/14 [==============================] - 0s 4ms/step - loss: 0.8046 - mean_squared_logarithmic_error: 0.8046 - val_loss: 0.8099 - val_mean_squared_logarithmic_error: 0.8099
Epoch 54/100
14/14 [==============================] - 0s 3ms/step - loss: 0.8019 - mean_squared_logarithmic_error: 0.8019 - val_loss: 0.8092 - val_mean_squared_logarithmic_error: 0.8092
Epoch 55/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7990 - mean_squared_logarithmic_error: 0.7990 - val_loss: 0.8089 - val_mean_squared_logarithmic_error: 0.8089
Epoch 56/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7964 - mean_squared_logarithmic_error: 0.7964 - val_loss: 0.8094 - val_mean_squared_logarithmic_error: 0.8094
Epoch 57/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7938 - mean_squared_logarithmic_error: 0.7938 - val_loss: 0.8090 - val_mean_squared_logarithmic_error: 0.8090
Epoch 58/100
14/14 [==============================] - 0s 6ms/step - loss: 0.7911 - mean_squared_logarithmic_error: 0.7911 - val_loss: 0.8082 - val_mean_squared_logarithmic_error: 0.8082
Epoch 59/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7888 - mean_squared_logarithmic_error: 0.7888 - val_loss: 0.8080 - val_mean_squared_logarithmic_error: 0.8080
Epoch 60/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7868 - mean_squared_logarithmic_error: 0.7868 - val_loss: 0.8080 - val_mean_squared_logarithmic_error: 0.8080
Epoch 61/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7840 - mean_squared_logarithmic_error: 0.7840 - val_loss: 0.8072 - val_mean_squared_logarithmic_error: 0.8072
Epoch 62/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7814 - mean_squared_logarithmic_error: 0.7814 - val_loss: 0.8068 - val_mean_squared_logarithmic_error: 0.8068
Epoch 63/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7791 - mean_squared_logarithmic_error: 0.7791 - val_loss: 0.8058 - val_mean_squared_logarithmic_error: 0.8058
Epoch 64/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7768 - mean_squared_logarithmic_error: 0.7768 - val_loss: 0.8047 - val_mean_squared_logarithmic_error: 0.8047
Epoch 65/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7747 - mean_squared_logarithmic_error: 0.7747 - val_loss: 0.8059 - val_mean_squared_logarithmic_error: 0.8059
Epoch 66/100
14/14 [==============================] - 0s 3ms/step - loss: 0.7724 - mean_squared_logarithmic_error: 0.7724 - val_loss: 0.8046 - val_mean_squared_logarithmic_error: 0.8046
Epoch 67/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7702 - mean_squared_logarithmic_error: 0.7702 - val_loss: 0.8058 - val_mean_squared_logarithmic_error: 0.8058
Epoch 68/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7680 - mean_squared_logarithmic_error: 0.7680 - val_loss: 0.8074 - val_mean_squared_logarithmic_error: 0.8074
Epoch 69/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7662 - mean_squared_logarithmic_error: 0.7662 - val_loss: 0.8075 - val_mean_squared_logarithmic_error: 0.8075
Epoch 70/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7638 - mean_squared_logarithmic_error: 0.7638 - val_loss: 0.8073 - val_mean_squared_logarithmic_error: 0.8073
Epoch 71/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7615 - mean_squared_logarithmic_error: 0.7615 - val_loss: 0.8082 - val_mean_squared_logarithmic_error: 0.8082
Epoch 72/100
14/14 [==============================] - 0s 3ms/step - loss: 0.7593 - mean_squared_logarithmic_error: 0.7593 - val_loss: 0.8075 - val_mean_squared_logarithmic_error: 0.8075
Epoch 73/100
14/14 [==============================] - 0s 3ms/step - loss: 0.7575 - mean_squared_logarithmic_error: 0.7575 - val_loss: 0.8059 - val_mean_squared_logarithmic_error: 0.8059
Epoch 74/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7554 - mean_squared_logarithmic_error: 0.7554 - val_loss: 0.8054 - val_mean_squared_logarithmic_error: 0.8054
Epoch 75/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7533 - mean_squared_logarithmic_error: 0.7533 - val_loss: 0.8052 - val_mean_squared_logarithmic_error: 0.8052
Epoch 76/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7513 - mean_squared_logarithmic_error: 0.7513 - val_loss: 0.8070 - val_mean_squared_logarithmic_error: 0.8070
Epoch 77/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7502 - mean_squared_logarithmic_error: 0.7502 - val_loss: 0.8043 - val_mean_squared_logarithmic_error: 0.8043
Epoch 78/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7473 - mean_squared_logarithmic_error: 0.7473 - val_loss: 0.8052 - val_mean_squared_logarithmic_error: 0.8052
Epoch 79/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7454 - mean_squared_logarithmic_error: 0.7454 - val_loss: 0.8054 - val_mean_squared_logarithmic_error: 0.8054
Epoch 80/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7436 - mean_squared_logarithmic_error: 0.7436 - val_loss: 0.8032 - val_mean_squared_logarithmic_error: 0.8032
Epoch 81/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7412 - mean_squared_logarithmic_error: 0.7412 - val_loss: 0.8036 - val_mean_squared_logarithmic_error: 0.8036
Epoch 82/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7390 - mean_squared_logarithmic_error: 0.7390 - val_loss: 0.8030 - val_mean_squared_logarithmic_error: 0.8030
Epoch 83/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7372 - mean_squared_logarithmic_error: 0.7372 - val_loss: 0.8043 - val_mean_squared_logarithmic_error: 0.8043
Epoch 84/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7354 - mean_squared_logarithmic_error: 0.7354 - val_loss: 0.8046 - val_mean_squared_logarithmic_error: 0.8046
Epoch 85/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7330 - mean_squared_logarithmic_error: 0.7330 - val_loss: 0.8050 - val_mean_squared_logarithmic_error: 0.8050
Epoch 86/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7309 - mean_squared_logarithmic_error: 0.7309 - val_loss: 0.8061 - val_mean_squared_logarithmic_error: 0.8061
Epoch 87/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7294 - mean_squared_logarithmic_error: 0.7294 - val_loss: 0.8062 - val_mean_squared_logarithmic_error: 0.8062
Epoch 88/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7272 - mean_squared_logarithmic_error: 0.7272 - val_loss: 0.8067 - val_mean_squared_logarithmic_error: 0.8067
Epoch 89/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7250 - mean_squared_logarithmic_error: 0.7250 - val_loss: 0.8062 - val_mean_squared_logarithmic_error: 0.8062
Epoch 90/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7240 - mean_squared_logarithmic_error: 0.7240 - val_loss: 0.8066 - val_mean_squared_logarithmic_error: 0.8066
Epoch 91/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7210 - mean_squared_logarithmic_error: 0.7210 - val_loss: 0.8054 - val_mean_squared_logarithmic_error: 0.8054
Epoch 92/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7189 - mean_squared_logarithmic_error: 0.7189 - val_loss: 0.8062 - val_mean_squared_logarithmic_error: 0.8062
Epoch 93/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7172 - mean_squared_logarithmic_error: 0.7172 - val_loss: 0.8067 - val_mean_squared_logarithmic_error: 0.8067
Epoch 94/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7149 - mean_squared_logarithmic_error: 0.7149 - val_loss: 0.8054 - val_mean_squared_logarithmic_error: 0.8054
Epoch 95/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7125 - mean_squared_logarithmic_error: 0.7125 - val_loss: 0.8052 - val_mean_squared_logarithmic_error: 0.8052
Epoch 96/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7107 - mean_squared_logarithmic_error: 0.7107 - val_loss: 0.8056 - val_mean_squared_logarithmic_error: 0.8056
Epoch 97/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7084 - mean_squared_logarithmic_error: 0.7084 - val_loss: 0.8059 - val_mean_squared_logarithmic_error: 0.8059
Epoch 98/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7064 - mean_squared_logarithmic_error: 0.7064 - val_loss: 0.8068 - val_mean_squared_logarithmic_error: 0.8068
Epoch 99/100
14/14 [==============================] - 0s 4ms/step - loss: 0.7035 - mean_squared_logarithmic_error: 0.7035 - val_loss: 0.8067 - val_mean_squared_logarithmic_error: 0.8067
Epoch 100/100
14/14 [==============================] - 0s 5ms/step - loss: 0.7014 - mean_squared_logarithmic_error: 0.7014 - val_loss: 0.8079 - val_mean_squared_logarithmic_error: 0.8079